<ul class="card-list">
  <% @books.each do |book| %>
    <li class="card__body">
      <p><%= link_to book.title, book_path(book.id), class: :card__title %>
      </p>
      <p><%= link_to image_tag(book.image, class: :card__img ), book_path(book.id) %>
      </p>
      <p><%= link_to "by #{book.user.name}", user_path(book.user_id), class: :card__user %>
      </p>
    </li>
  <% end %>
</ul>