<%= render "shared/header" %> 

<div class="contents-row">
  <div class="edit-contents">
      <%= render partial: "form" ,locals: { book: @book } %>
    </div>
</div>

<%= render "shared/footer" %> 

