<%= render "shared/header" %> 

  <%# スライドショー %>
  <div class="slide-show">
  </div>
  <%# スライドショー %>

  <div class="contents">
    <%# レビューの表示 %>
    <div class="contents-left">
      <div class="card">
        <h1 class="new-review">最新の要約</h1>
          <%= render partial: "book", locals: { book: @books} %> 
      </div>
    </div>
    <%# レビューの表示 %>

    <%# ランキングの表示 %>
    <div class="contents-right">
      <h3>今週の要約ランキング</h3>
    </div>
    <%# ランキングの表示 %>
  </div>

<%= render "shared/footer" %> 

