<div class="card">
  <% @books.each do |book| %>
    <%= link_to image_tag(book.image, class: :card__img ),"#" %> 
    <div class="card__body">
      <%= book.title %>
        <p class="card__summary">
          <%= book.review %>
        </p>
      <%= link_to "by #{book.user.name}","#", class: :card__user %>
    </div>
  <% end %>
</div>