<%= render "shared/header" %> 

<div class="conteiner">
  <div class="contents row">
    <h1 class="search-resalt">検索結果</h1>
      <%= render partial: "book", locals: { book: @books} %> 
  </div>
</div>

<%= render "shared/footer" %> 