.slide-show {
  height: 35vh;
  background-color: aqua;
}

.card {
  padding-top: 20px;
}

.contents {
  display: flex;
}

.contents-left {
  background-color: bisque;
  width: 70vw;
}

.new-review {
  background: linear-gradient(transparent 70%, #a8eaff 50%);
  margin: 0 auto;
  width: 80%;
}

.card-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card__body {
  text-align: center;
}

.card__img {
  height: 300px;
  width: 220px;
}

.contents-right {
  background-color: blueviolet;
  width: 30vw;
}